@tailwind base;
@tailwind components;
@tailwind utilities;

.mn-height,
.loading-statics {
  height: calc(100vh - 64px);
}

.counter {
    background-image: linear-gradient(to top, #000, #999);
    transform-origin: top;
}

.remove-arrow input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}