@tailwind base;
@tailwind components;
@tailwind utilities;

.mn-height,
.loading-statics {
  height: calc(100vh - 64px);
}

.counter {
    background-image: linear-gradient(to top, #000, #999);
    /* transform: rotate(40deg); */
    transform-origin: top;
}
